version: '3.8'

name: tripyserver

services:
  frontend:
    image: tripy-nginx
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8080:80"  # 윈도우에서 테스트 시에는 "8080"으로, AWS EC2 리눅스 배포 시에는 "80"으로 할 것

  backend:
    image: tripy-node
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"      # 직접 접근 테스트용 (필요 시 주석 처리 가능)
    restart: unless-stopped
    environment:
      - NODE_ENV=production