.backdrop {
 

  /* transform: translate(-50%, -50%); */
  /* inset: 0; */
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  .modal {
    background-color: lightslategray;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    .buttons {
      text-align: right;
      button {
        padding: 0.3rem 0.5rem;
        &:first-of-type {
          background: pink;
        }
        & + & {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
